body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.hero-image {
    background-image: url("coffee.jpg");
    width: 700px;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.logo-div {
    height: 200px;
    background-color: rgb(73, 73, 73, 0.75);
    display: flex;
    align-items: center;
    align-self: center;
}

.brewsters-logo {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.photo-credit {
    color: white;
    position: absolute;
    bottom: 10px;
 }

a {
    text-decoration: underline;
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(243, 243, 243);
    padding: 100px 100px 50px 50px;
}

.form-section {
    margin: 25px 100px 10px 50px;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-row {
    display: flex;
    flex-direction:  column;
    justify-content: space-between; */
    flex-wrap: wrap;
    width: 45%;
}