body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.hero-image {
    background-image: url("trees.jpg");
    width: 700px;
    height: 100vh;
    background-size: cover;
}

.photo-credit {
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 100px 100px 100px 50px;
}

.form-section {

}