body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.hero-image {
    background-image: url("coffee.jpg");
    width: 700px;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.brewsters-logo {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.photo-credit {
    color: white;
    position: absolute;
    bottom: 10px;
 }

a {
    text-decoration: underline;
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(243, 243, 243);
    padding: 100px 100px 100px 50px;
}

.form-section {
    margin: 50px;
}